<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Inicio</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div *ngFor="let testimonial of testimonials" (click)="abrirPagina($event, testimonial.page)">
      <figure class="snip1574">
        <img [src]="testimonial.imageUrl" alt="profile-sample2" />
        <div *ngIf="testimonial.detail == 'Familia Desler'">
            aparece otra cosa
          </div>
        <figcaption>
            <h2>{{testimonial.name}}</h2>
          <blockquote>
            <p>{{testimonial.quote}}</p>
          </blockquote>
          <h5>{{testimonial.detail}}</h5>
          
        </figcaption>
      </figure>
    </div>
  </ion-content>